.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 350px;
    margin: 20px;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
  }