* {
    box-sizing: border-box;
  }
  
  /*body {
    margin: 0;
  } */

  p {
    text-align: center;
  }
  
  /* Style the header */
  .header {
    background-color: #1e0a0a;
    padding: 15px;
    text-align: center;
  }

.header h1 {
    margin: 0; /* Reset the margin of the <h1> element */
}

  
  /* Style the top navigation bar */
  .topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #1e0a0a;
  }
  
  /* Style the topnav links */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #c2ab6d;
    color: black;
  }


  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }