#quizApp {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  font-size: 17px;
}

#quizApp ul {
  list-style: none;
  padding: 0;
}

#quizApp li {
  padding: 10px;
  margin: 5px 0;
  background: #3f5694;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#quizApp li:hover {
  background: #c7b14d;
  transform: scale(1.02);
}

#quizApp li.correct {
  background: #79db7c;
}

#quizApp li.incorrect {
  background: #b63340;
}

#quizApp button {
  padding: 10px 20px;
  background: #3a1c69;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

#quizApp button:hover {
  background: #c54082;
}

#quizApp h2 {
  font-size: 28px;
  font-weight: bold;
}